@CHARSET "ISO-8859-1";

body {
	background-color: #2C2C2A;
	margin: 0;
	padding: 0;
}

header {
	height: 80px;
	background-color: #000000;
	background-repeat: repeat-x;
	border-bottom: 1px solid #F5CB00;
	text-align: center; 
}

h1 {
	color: #FFFFFF;
	font-family: Verdana, "MS Trebuchet", sans-serif;
	font-size:14px;
}

.container {
	text-align: center;
}

.container button {
	font-size:14px;
}

/*.container #forgotpass {
	height:35px;
	width:130px;
}

.container #createaccount {
	height:35px;
	width:130px;
}*/

#message {
	color:white;
	font-family: Arial, "MS Trebuchet", sans-serif;
}s